
.product-details{

    width:90%;
    max-width:1200px;
    margin:60px auto;
    display:flex;
    justify-content:space-between;
    align-items:center;

    gap:60px;
}

/* =========================================
   Left Side (Product Image)
========================================= */

.details-image{
    flex:1;
}

.details-image img{
    width:100%;
    max-width:500px;
    height:420px;
    object-fit:cover;
    border-radius:18px;
    box-shadow:0 8px 25px rgba(0,0,0,.12);

}

/* =========================================
   Right Side (Product Information)
========================================= */

.details-info{
    flex:1;

}

.details-info h1{
    font-size:40px;
    color:#1E3A8A;
    margin-bottom:18px;

}

.rating{

    color:#F59E0B;
    font-size:20px;
    margin-bottom:20px;

}

.details-info h2{

    color:#2563EB;
    font-size:34px;
    margin-bottom:25px;

}

.description{

    color:#555;
    line-height:1.8;
    margin-bottom:30px;

}

.details-info h3{
    margin-bottom:15px;

}

.details-info ul{

    margin-left:20px;
    margin-bottom:35px;

}

.details-info li{
    margin-bottom:10px;

}

/* =========================================
   Add To Cart Button
========================================= */

.details-cart-btn{
    background:#2563EB;
    color:white;
    border:none;
    padding:16px 34px;
    border-radius:10px;
    cursor:pointer;
    font-size:17px;
    transition:.3s;

}

.details-cart-btn:hover{

    background:#1D4ED8;
    transform:translateY(-3px);

}

/* =========================================
   Responsive Design
========================================= */

@media(max-width:900px){

.product-details{

    flex-direction:column;
    text-align:center;

}

.details-image img{

    max-width:100%;

}

.details-info ul{

    text-align:left;
    display:inline-block;

}

.details-cart-btn{
    width:100%;

}

}
/* ==========================
   Buttons Section
========================== */

.details-buttons{

    display:flex;

    gap:15px;

    margin-top:30px;

}

.buy-btn{

    background:#F59E0B;

    color:white;

    border:none;

    padding:16px 30px;

    border-radius:10px;

    cursor:pointer;

    font-size:17px;

    transition:.3s;

}

.buy-btn:hover{

    background:#D97706;

    transform:translateY(-3px);

}
