* {
  
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%; /* {full screen} */
    min-height: 100vh;
}

body {
    font-family: "Poppins", sans-serif;
    background: #F8FAFC;
    color: #1F2937;
    overflow-x: hidden;
}